<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&family=Staatliches&display=swap');
    </style>
    <title>Recommendations</title>
</head>

<body>
    <header>
        <a class="header-link" href="/"><h1 class="header-headline">The Recommendation Application</h1></a>
        <nav>
            <ul class="nav-links">
                <a class="nav-link" href="/books">
                    <li>BOOKS</li>
                </a>
                <a class="nav-link" href="/shows">
                    <li>TV SHOWS</li>
                </a>
                <a class="nav-link" href="/restaurants">
                    <li>RESTAURANTS</li>
                </a>
                <a class="nav-link" href="/recipes">
                    <li>RECIPES</li>
                </a>
                <a class="nav-link" href="/dawgs">
                    <li>DAWGS</li>
                </a>
            </ul>
        </nav>
    </header>
    <main class="index-main">
        <h2 class="index-headline">BOOK RECOMMENDATIONS</h2>
        <div class="new-button-div"><a href="/books/new"><button class="new-button">NEW BOOK RECOMMENDATION</button></a>
        </div>
        <ul class="index-list">
            <% books.forEach(book => { %>
            <a class="index-link" href="/books/<%=book._id%>">
                <div class="index-items">
                    <li>
                        <h2 class="index-title"><%=book.title%></h2>
                        <p class="index-author"><%=book.author%></p>
                    </li>
                </div>
            </a>
            <% }) %>
        </ul>
    </main>
    <footer>
        <p>© Nicole Baird | 2022</p>
    </footer>
</body>

</html>