<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Staatliches&display=swap');
    </style>
    <title>Recommendations</title>
</head>

<body>
    <header>
        <a class="header-link" href="/">
            <h1 class="header-headline">The Recommendation Application</h1>
        </a>
        <nav>
            <ul class="nav-links">
                <a class="nav-link" href="/books">
                    <li>BOOKS</li>
                </a>
                <a class="nav-link" href="/shows">
                    <li>TV SHOWS</li>
                </a>
                <a class="nav-link" href="/restaurants">
                    <li>RESTAURANTS</li>
                </a>
                <a class="nav-link" href="/recipes">
                    <li>RECIPES</li>
                </a>
                <a class="nav-link" href="/dawgs">
                    <li>DAWGS</li>
                </a>
            </ul>
        </nav>
    </header>
    <main class="form-main">
        <h2 class="index-headline">Create a New Dawg Recommendation</h2>
        <form action="/dawgs" method="POST">
            <div class="form-center">
                <fieldset>
                    <label for="item">Item</label>
                    <input type="text" name="item" /><br />
                    <label for="link">Link</label>
                    <input type="text" name="link" /><br />
                    <label for="description">Description</label>
                    <input type="text" name="description" /><br />
                    <label for="img">Image Link (URL)</label>
                    <input type="text" name="img" /><br />
                    <label for="rating">Rating</label>
                    <select class= "select" type="number" name="rating" size="1">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select><br />
                    <label for="recommended">Recommended By</label>
                    <input type="text" name="recommended" /><br />
                    <div class="new-btn">
                        <input class="new-btn-2" type="submit" name="" value="Add Item" />
                    </div>
                </fieldset>
            </div>
        </form>
        <div class="show-foot"></div>
    </main>
    <footer>
        <p>© Nicole Baird | 2022</p>
    </footer>
</body>

</html>