<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Staatliches&display=swap');
    </style>
    <title>Recommendations</title>
</head>

<body>
    <header class="home-header">
        <nav>
            <h1 class="home-headline">The Recommendation Application</h1>
        </nav>
    </header>
    <main class="home-main">
        <div class="main-head">
        </div>
        <div class="intro">
            <h2 class="intro-headline">Reccomendation Station</h2>
            <p class="intro-text">Need recommendations? Click on one of the categories below to explore.</p>
        </div>
        <div>
            <ul class="home-list">
                <a class="home-link" href="/books"><div class="home-block">
                    <li class="home-items">BOOKS</li>
                </div></a>
                <a class="home-link" href="/shows"><div class="home-block">
                    <li class="home-items">TV Shows</li>
                </div></a>
                <a class="home-link" href="/restaurants"><div class="home-block">
                    <li class="home-items">RESTAURANTS</li>
                </div></a>
                <a class="home-link" href="/recipes"><div class="home-block">
                   <li class="home-items">RECIPES</li>
                </div></a>
                <a class="home-link" href="/dawgs"><div class="home-block">
                    <li class="home-items">DAWGS</li>
                </div></a>
            </ul>
        </div>
    </main>
    <footer>
        <p>© Nicole Baird | 2022</p>
    </footer>
</body>

</html>