/* GLOBAL STYLES */
:root {
    --dark-grey: #291C1C;
    --teal: #025F82;
    --light-blue: #4FD4E5;
    --pink: #E12E99;
    --yellow: #F8B348;
    --purple: #4E2F96;
    --light-purple: #B1A0D1;
    --blue: #0A3980;
    --blue2: #0098DB;
    --mint: #72D1CB;
    --orange: #FE8B10;
    --blue3: #00A2DE;
    --dark-pink: #B33080;
  }

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
}

.home-header {
    background-color: var(--dark-grey);
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 40px; 

}

.home-login {
    padding: 10px 30px; 
    color: white;
    font-family: 'Staatliches', cursive;
    font-size: 24px;
    letter-spacing: 1px;
    border: none;
    background-color: var(--pink);
    transition: all .2s ease-in-out; 
    margin-left: 30px;
}

.home-login:hover {
    transform: scale(1.1);
    background-color: var(--dark-pink);
}

.home-headline {
    color: white;
    font-family: 'Staatliches', cursive;
    font-size: 44px;
    letter-spacing: 1px;
    text-align: center;
}

.header-headline {
    color: white;
    font-family: 'Staatliches', cursive;
    font-size: 44px;
    letter-spacing: 1px;
    text-align: center;
    transition: all .2s ease-in-out; 
}

.header-headline:hover {
    transform: scale(1.05);
}

.header-headline:focus {
    transform: scale(1.05);
}

.header-link {
    text-decoration: none;
}

header {
    background-color: var(--dark-grey);
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 40px; 
}

#login-button {
    padding: 10px 40px; 
    color: white;
    font-family: 'Staatliches', cursive;
    font-size: 24px;
    letter-spacing: 1px;
    border: none;
    background-color: var(--pink);
}

.button-link {
    display: inline-block;
    color: white;
    font-family: 'Staatliches', cursive;
    font-size: 28px;
    text-decoration: none;
    margin-right: 30px;
    transition: all .2s ease-in-out; 
}

.button-link:hover {
    color: var(--dark-pink);
    transform: scale(1.1);
}


.nav-links {
    list-style-type: none;
}

.nav-link {
    display: inline-block;
    color: white;
    font-family: 'Staatliches', cursive;
    font-size: 28px;
    text-decoration: none;
    margin-right: 30px;
    transition: all .2s ease-in-out; 
}

.nav-link:hover {
    color: var(--pink);
    transform: scale(1.2);
}

footer {
    display: flex; 
    background-color: var(--dark-grey);
    justify-content: center;
    padding: 30px; 
}

footer p {
    color: white;
    font-family: 'Staatliches', cursive;
    font-size: 30px;
    letter-spacing: 2px;
}

/* HOMEPAGE */

.main-head {
    padding: 40px; 
}

.home-main {
    background-image: url("https://i.imgur.com/tXg44Q9.png");
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.intro {
    border: 2px solid var(--dark-grey);
    background-color: var(--dark-grey);
    margin: 0 auto;
    padding: 30px 10px; 
    max-width: 900px; 
    margin-bottom: 100px;
}

.intro-headline {
    color: white;
    font-family: 'Staatliches', cursive;
    font-size: 40px;
    text-align: center;
    padding-bottom: 15px;
}

.intro-text {
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.home-list {
    display: flex;
    list-style-type: none;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0px 100px;
    column-gap: 200px; 
    row-gap: 40px;
}

.home-block {
    border: 2px solid var(--dark-grey);
    background-color: var(--dark-grey);
    padding: 50px 10px; 
    width: 300px; 
    margin-bottom: 90px;
    transition: all .2s ease-in-out; 
}

.home-block:hover {
    transform: scale(1.2);
}

.home-items {
    text-decoration: none;
    color: white;
    font-family: 'Staatliches', cursive;
    font-size: 32px;
    text-align: center;
}

.home-items:hover {
    color: var(--light-blue);
    cursor: pointer;
}

.home-link {
    text-decoration: none;
}

/* INDEX PAGE */
.index-headline {
    color: white;
    font-family: 'Staatliches', cursive;
    font-size: 44px;
    letter-spacing: 2px;
    text-align: center;
    padding: 60px 10px 45px 10px;
    text-shadow: 2px 2px black;
}

.new-button {
    border: none;
    color: white;
    font-family: 'Staatliches', cursive;
    font-size: 24px;
    background-color: var(--pink);
    padding: 15px; 
    margin-bottom: 60px;
    transition: all .2s ease-in-out; 
    box-shadow: 5px 5px 8px 1px var(--dark-grey);
}

.new-button:hover{
    transform: scale(1.1);
    background-color: gray;
}

.new-button-div {
    text-align: center;
}

.index-main {
    background-color: var(--teal);
}

.index-list {
    display: flex;
    list-style-type: none;
    justify-content: center;
    flex-wrap: wrap;
    margin: 40px 100px;
    column-gap: 200px; 
    row-gap: 40px;
}

.index-items {
    border: 2px solid var(--light-blue);
    background-color: var(--light-blue);
    padding: 70px 10px; 
    width: 300px; 
    margin-bottom: 80px;
    box-shadow: 5px 5px 8px 1px var(--dark-grey);
    transition: all .2s ease-in-out; 
}

.index-items:hover {
    transform: scale(1.2);
}

.index-link {
    text-decoration: none;
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.index-title {
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 28px;
}

.index-author {
    font-style: italic;
    font-size: 20px;
    font-weight: 400;
}

.index-footer {
    background-image: url("https://i.imgur.com/i8h2S67.png");
    margin-top: 45px;
    padding: 100px; 
}

/* SHOW PAGE */
.container {
    width: 60vw;
    height: auto;
    display: flex;
    margin: auto; 
    box-shadow: 5px 5px 15px 2px var(--dark-grey);
    margin-top: 45px; 
}

.img-container {
    width: 50%;
  background: var(--light-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0px;
}

.show-img {
    width: 75%;
    max-width: 400px;
    height: auto;
    box-shadow: 5px 5px 8px 1px var(--dark-grey);
}

.created-by {
    font-family: 'Staatliches', cursive;
    font-size: 24px; 
    color: white;
    margin-bottom: 20px;
    text-align: center;
    text-shadow: 2px 2px black;
    letter-spacing: 2px;
}

.description-container {
    width: 50%;
  background: var(--light-blue);
  padding: 80px 20px;
  overflow: scroll;
  overflow-y: auto;
}

.show-headline {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px; 
    font-weight: 600;
    color: white;
    margin-bottom: 20px;
}

.show-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 24px; 
    color: white;
    margin-bottom: 60px;
}

.show-foot {
    padding: 100px; 
}

.show-buttons {
    display: flex;
    justify-content: flex-start;
}

.show-btn {
    padding: 10px 30px; 
    margin: 20px 30px;
    border-radius: 0px;
    border: none;
    color: white;
    font-family: 'Staatliches', cursive;
    font-size: 24px;
    box-shadow: 5px 5px 8px 1px var(--dark-grey);
    background-color: var(--pink);
    transition: all .2s ease-in-out; 
}

.show-btn:hover {
    background-color: gray;
    transform: scale(1.2);
}

#book-foot {
    background-image: url("https://i.imgur.com/i8h2S67.png");
    margin-top: 95px;
}

/* NEW PAGE AND EDIT PAGE*/
.form-main {
    background-color: var(--yellow);
}

.error-message {
    text-align: center;
    
}

fieldset {
    border: 1px solid #ccc;
    background-color: var(--blue);
    padding: 50px 90px;
    margin: 50px 200px;
}
  
label {
    font-family: 'Staatliches', cursive;
    font-size: 24px;
    color: white;
    display: block;
    margin-bottom: 15px;
    text-align: left;
}
  
input {
    width: 100%;
    margin-bottom: 40px;
    padding: 20px;
    border: 1px solid var(--light-green);
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.select {
    width: 100%;
    margin-bottom: 40px;
    padding: 20px;
    border: 1px solid var(--light-green);
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.select:focus {
    outline: 0;
    border: 5px solid var(--yellow);
}

input:focus {
    outline: 0;
    border: 5px solid var(--yellow);
}

.new-btn {
    text-align: center;
}

.new-btn-2 {
    border: none;
    background-color: var(--yellow);
    font-family: 'Staatliches', cursive;
    font-size: 24px;
    width: 30%;
    color: white;
    transition: all .2s ease-in-out; 
}

.new-btn-2:hover {
    background-color: gray;
    transform: scale(1.2);
}

.new-btn-2:focus {
    background-color: gray;
    transform: scale(1.2);
    border-color: gray; 
}

/* SHOW INDEX CHANGES */
.show-main {
    background-color: var(--purple)
}

#show-items {
    border: 2px solid var(--light-purple);
    background-color: var(--light-purple);
}

/* SHOW SHOW CHANGES */

#show-container {
    background-color: var(--light-purple);
}

#show-desc-container {
    background-color: var(--light-purple);
}

#show-img-container {
    background-color: var(--light-purple);
}

.show-footer {
    background-image: url("https://i.imgur.com/B3YA2ge.png");
    margin-top: 25px;
    padding: 100px; 
}

#show-footer {
    background-image: url("https://i.imgur.com/B3YA2ge.png");
    margin-top: 95px;
    padding: 100px; 
}

/* RESTAURANT CHANGES */
.restaurant-main {
    background-color: var(--blue)
}

#rest-background {
    background-color: var(--blue2);
    border: 2px solid var(--blue2);
}

#rest-container {
    width: 65vw;
}

#rest-img {
    width: 100%;
    max-width: 450px;
    height: auto;
}

.restaurant-footer {
    background-image: url("https://i.imgur.com/hrYI4eS.png");
    margin-top: 10px;
    padding: 100px;
}

#restaurant-footer {
    background-image: url("https://i.imgur.com/hrYI4eS.png");
    margin-top: 95px;
    padding: 100px; 
}

/* RECIPE CHANGES */
.recipe-main {
    background-color: var(--mint);
}

#recipe-image-container {
    background: var(--orange);
}
#recipe-description-container {
    background: var(--orange);
}

.recipe-link {
    text-decoration: none;
}

#recipe-items {
    background-color: var(--orange);
    border-color: var(--orange);
}

#rec-link-text {
    font-style: italic;
    color: var(--pink);
}

#recipe-footer {
    background-image: url("https://i.imgur.com/AhE0CtT.png");
    margin-top: 95px;
    padding: 130px; 
}

.recipe-footer {
    background-image: url("https://i.imgur.com/AhE0CtT.png");
    margin-top: 35px;
    padding: 130px;
}

/* DAWG CHANGES */
.dawg-main {
    background-color: var(--blue3);
}

#dawg-list {
    background-color: #FF8F1F;
    border-color: #FF8F1F;
}

#dawg-img-container {
    background-color: #FF8F1F;
}

#dawg-desc-container {
    background-color: #FF8F1F;
}

.dawg-footer {
    background-image: url("https://i.imgur.com/IqzsLGZ.png");
    margin-top: 0px;
    padding: 140px;
}

#dawg-foot {
    background-image: url("https://i.imgur.com/IqzsLGZ.png");
    margin-top: 80px;
    padding: 140px;
}

#hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
}

#hamburger-icon div {
    width: 35px;
    height: 3px; 
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
    opacity: 0;
}

.open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}


.open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    row-gap: 20px;
}

.mobile-menu {
    display: none;
    list-style: none;
    position: absolute;
    background-color: gray;
    margin-top: 40px;
    padding-top: 25px;
    padding-right: 15px;
    left: 0;
    height: calc(100vh - 350px);
    width: 100%;
}

/* LOGIN AND SIGN-UP FORMS */
.form-foot {
    padding: 90px;
}

.form-error {
    text-align: center;
    font-family: 'Staatliches', cursive;
    font-size: 24px;
    color: red;
    background-color: white;
    padding: 20px; 
    margin: 0px 200px; 
}


@media only screen and (max-width: 768px) {
    /* NAVIGATION */
    .header-headline {
        font-size: 24px;
        margin-right: 80px;
    }

    header nav {
        display: none;
    }

    #hamburger-icon {
        display: block
    }

    /* SHOW PAGE */
    .container {
        width: 80vw;
        display: flex;
        flex-direction: column;
    }
    
    .img-container {
        width: 100%;
    }
    
    .show-img {
        width: 100%;
        max-width: 300px;
        margin-top: 20px;
    }
    
    .description-container {
        width: 100%;
      background: var(--light-blue);
      padding: 50px 30px;
      overflow: scroll;
      overflow-y: auto;
    }
    
    .show-buttons {
        display: flex;
        justify-content: center;
    }
    
    .show-btn {
        margin: 10px 20px;
    }

    /* EDIT AND NEW PAGE */
    fieldset {
        padding: 15px 15px;
        margin: 30px 20px;
    }

    .new-btn-2 {
        width: 50%;
    }
   
}   

@media only screen and (max-width: 430px) {
    /* HOMEPAGE */
    .home-main {
        background-image: url("https://i.imgur.com/ik5d76k.png");
    }

    .home-list {
        row-gap: 0px;
    }

    /* SHOW PAGE */
    .container {
        width: 85vw;
    }
    
    .show-img {
        width: 100%;
        max-width: 150px;
        margin-top: 20px;
    }
    
    .description-container {
        width: 100%;
      background: var(--light-blue);
      padding: 50px 20px;
      overflow: scroll;
      overflow-y: auto;
    }

    .show-headline {
        font-size: 20px; 
    }
    
    .show-text {
        font-size: 16px; 
    }
    
    .show-buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .show-btn {
        margin: 15px 0;
        padding: 5px 20px; 
    }

    .show-foot {
        padding: 100px;
    }
    
    .form-error { 
        margin: 0px 40px; 
    }
}


