/* GLOBAL STYLES */
:root {
    --dark-grey: #291C1C;
    --teal: #025F82;
    --light-blue: #4FD4E5;
    --pink: #E12E99;
    --yellow: #F8B348;
    --purple: #4E2F96;
    --light-purple: #B1A0D1;
    --blue: #0A3980;
    --blue2: #0098DB;
    --mint: #72D1CB;
    --orange: #FE8B10;
    --blue3: #00A2DE;
    --dark-pink: #B33080;
  }

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
}

.home-header {
    background-color: var(--dark-grey);
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 40px; 

}

.home-headline {
    color: white;
    font-family: 'Staatliches', cursive;
    font-size: 44px;
    letter-spacing: 1px;
    text-align: center;
}

.header-headline {
    color: white;
    font-family: 'Staatliches', cursive;
    font-size: 44px;
    letter-spacing: 1px;
    text-align: center;
    transition: all .2s ease-in-out; 
}

.header-headline:hover {
    transform: scale(1.05);
}

.header-link {
    text-decoration: none;
}

header {
    background-color: var(--dark-grey);
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 40px; 
}

.nav-links {
    list-style-type: none;
}

.nav-link {
    display: inline-block;
    color: white;
    font-family: 'Staatliches', cursive;
    font-size: 28px;
    text-decoration: none;
    margin-right: 30px;
    transition: all .2s ease-in-out; 
}

.nav-link:hover {
    color: var(--pink);
    transform: scale(1.2);
}

footer {
    display: flex; 
    background-color: var(--dark-grey);
    justify-content: center;
    padding: 30px; 
}

footer p {
    color: white;
    font-family: 'Staatliches', cursive;
    font-size: 30px;
    letter-spacing: 2px;
}

/* HOMEPAGE */

.main-head {
    padding: 40px; 
}

.home-main {
    background-image: url("https://i.imgur.com/u1wfjFK.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.intro {
    border: 2px solid var(--dark-grey);
    background-color: var(--dark-grey);
    margin: 0 auto;
    padding: 30px 10px; 
    max-width: 900px; 
    margin-bottom: 100px;
}

.intro-headline {
    color: white;
    font-family: 'Staatliches', cursive;
    font-size: 40px;
    text-align: center;
    padding-bottom: 15px;
}

.intro-text {
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.home-list {
    display: flex;
    list-style-type: none;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0px 100px;
    column-gap: 200px; 
    row-gap: 40px;
}

.home-block {
    border: 2px solid var(--dark-grey);
    background-color: var(--dark-grey);
    padding: 50px 10px; 
    width: 300px; 
    margin-bottom: 90px;
    transition: all .2s ease-in-out; 
}

.home-block:hover {
    transform: scale(1.2);
}

.home-items {
    text-decoration: none;
    color: white;
    font-family: 'Staatliches', cursive;
    font-size: 32px;
    text-align: center;
}

.home-items:hover {
    color: var(--light-blue);
    cursor: pointer;
}

.home-link {
    text-decoration: none;
}

/* INDEX PAGE */
.index-headline {
    color: white;
    font-family: 'Staatliches', cursive;
    font-size: 44px;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 30px;
    text-shadow: 2px 2px black;
}

.new-button {
    border: none;
    color: white;
    font-family: 'Staatliches', cursive;
    font-size: 24px;
    background-color: var(--pink);
    padding: 15px; 
    margin-bottom: 60px;
    transition: all .2s ease-in-out; 
    box-shadow: 5px 5px 8px 1px var(--dark-grey);
}

.new-button:hover{
    transform: scale(1.1);
    background-color: gray;
}

.new-button-div {
    text-align: center;
}

.index-main {
    background-color: var(--teal);
}

.index-list {
    display: flex;
    list-style-type: none;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0px 100px;
    column-gap: 200px; 
    row-gap: 40px;
}

.index-items {
    border: 2px solid var(--light-blue);
    background-color: var(--light-blue);
    padding: 70px 10px; 
    width: 300px; 
    margin-bottom: 80px;
    box-shadow: 5px 5px 8px 1px var(--dark-grey);
    transition: all .2s ease-in-out; 
}

.index-items:hover {
    transform: scale(1.2);
}

.index-link {
    text-decoration: none;
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.index-title {
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 28px;
}

.index-author {
    font-style: italic;
    font-size: 20px;
    font-weight: 400;
}

.index-footer {
    background-image: url("https://i.imgur.com/i8h2S67.png");
    margin-top: 95px;
    padding: 100px; 
}

/* SHOW PAGE */
.container {
    width: 60vw;
    height: auto;
    display: flex;
    margin: auto; 
    box-shadow: 5px 5px 15px 2px var(--dark-grey);
    margin-top: 15px; 
}

.img-container {
    width: 50%;
  background: var(--light-blue);
  display: flex;
  justify-content: center;
  align-items: center;
}

.show-img {
    width: 75%;
    max-width: 300px;
    height: auto;
}

.description-container {
    width: 50%;
  background: var(--light-blue);
  padding: 50px 20px;
  overflow: scroll;
  overflow-y: auto;
}

.show-headline {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px; 
    font-weight: 600;
    color: white;
    margin-bottom: 10px;
}

.show-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 20px; 
    color: white;
    margin-bottom: 20px;
}

.show-foot {
    padding: 100px; 
}

.show-buttons {
    display: flex;
    justify-content: flex-start;
}

.show-btn {
    padding: 10px 30px; 
    margin: 20px 30px;
    border: none;
    color: white;
    font-family: 'Staatliches', cursive;
    font-size: 24px;
    background-color: var(--pink);
    transition: all .2s ease-in-out; 
}

.show-btn:hover {
    background-color: gray;
    transform: scale(1.2);
}

#book-foot {
    background-image: url("https://i.imgur.com/i8h2S67.png");
    margin-top: 95px;
}

/* NEW PAGE AND EDIT PAGE*/
.form-main {
    background-color: var(--yellow);
}

fieldset {
    border: 1px solid #ccc;
    background-color: var(--blue);
    padding: 50px 90px;
    margin: 50px 200px;
}
  
label {
    font-family: 'Staatliches', cursive;
    font-size: 24px;
    color: white;
    display: block;
    margin-bottom: 15px;
    text-align: left;
}
  
input {
    width: 100%;
    margin-bottom: 40px;
    padding: 20px;
    border: 1px solid var(--light-green);
    border-radius: 5px;
}

input:focus {
    outline: 0;
    border: 5px solid var(--yellow);
}

.new-btn {
    text-align: center;
}

.new-btn-2 {
    border: none;
    background-color: var(--yellow);
    font-family: 'Staatliches', cursive;
    font-size: 24px;
    width: 30%;
    color: white;
    transition: all .2s ease-in-out; 
}

.new-btn-2:hover {
    background-color: gray;
    transform: scale(1.2);
}

/* SHOW INDEX CHANGES */
.show-main {
    background-color: var(--purple)
}

#show-items {
    border: 2px solid var(--light-purple);
    background-color: var(--light-purple);
}

/* SHOW SHOW CHANGES */

#show-container {
    background-color: var(--light-purple);
}

#show-desc-container {
    background-color: var(--light-purple);
}

#show-img-container {
    background-color: var(--light-purple);
}

.show-footer {
    background-image: url("https://i.imgur.com/B3YA2ge.png");
    margin-top: 95px;
    padding: 100px; 
}

#show-footer {
    background-image: url("https://i.imgur.com/B3YA2ge.png");
    margin-top: 95px;
    padding: 100px; 
}

/* RESTAURANT CHANGES */
.restaurant-main {
    background-color: var(--blue)
}

#rest-background {
    background-color: var(--blue2);
    border: 2px solid var(--blue2);
}

#rest-container {
    width: 65vw;
}

#rest-img {
    width: 100%;
    max-width: 450px;
    height: auto;
}

.restaurant-footer {
    background-image: url("https://i.imgur.com/hrYI4eS.png");
    margin-top: 50px;
    padding: 100px;
}

#restaurant-footer {
    background-image: url("https://i.imgur.com/hrYI4eS.png");
    margin-top: 95px;
    padding: 100px; 
}

/* RECIPE CHANGES */
.recipe-main {
    background-color: var(--mint);
}

#recipe-image-container {
    background: var(--orange);
}
#recipe-description-container {
    background: var(--orange);
}

.recipe-link {
    text-decoration: none;
}

#recipe-items {
    background-color: var(--orange);
    border-color: var(--orange);
}

#rec-link-text {
    font-style: italic;
    color: var(--pink);
}

#recipe-footer {
    background-image: url("https://i.imgur.com/AhE0CtT.png");
    margin-top: 95px;
    padding: 130px; 
}

.recipe-footer {
    background-image: url("https://i.imgur.com/AhE0CtT.png");
    margin-top: 35px;
    padding: 130px;
}

/* DAWG CHANGES */
.dawg-main {
    background-color: var(--blue3);
}

#dawg-list {
    background-color: #FF8F1F;
    border-color: #FF8F1F;
}

#dawg-img-container {
    background-color: #FF8F1F;
}

#dawg-desc-container {
    background-color: #FF8F1F;
}

.dawg-footer {
    background-image: url("https://i.imgur.com/IqzsLGZ.png");
    margin-top: 30px;
    padding: 140px;
}

#dawg-foot {
    background-image: url("https://i.imgur.com/IqzsLGZ.png");
    margin-top: 80px;
    padding: 140px;
}