<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recommendations</title>
</head>
<body>
    <h2>TV RECOMMENDATIONS</h2>
    <ul>
        <% shows.forEach(show => { %>
            <li>
                <a href="/shows/<%=show._id%>"><h2><%=show.name%></h2></a>
            </li>
        <% }) %>
    </ul>
</body>
</html>