<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recommendations</title>
</head>
<body>
    <h2>Create a New Restaurant Recommendation</h2>
        <form action="/restaurants" method="POST">
            <fieldset>
                <label for="Name">Name</label>
                <input type="text" name="name" /><br />
                <label for="neighborhood">Neighborhood</label>
                <input type="text" name="neighborhood" /><br />
                <label for="best dishes">Best Dishes</label>
                <input type="text" name="best_dishes" /><br />
                <label for="img">Image Link (URL)</label>
                <input type="text" name="img" /><br />
                <label for="rating">Rating</label>
                <input type="number" name="rating" /><br />
                <label for="recommended">Recommended By</label>
                <input type="text" name="recommended" /><br />
                <div>
                    <input type="submit" name="" value="Add Book" />
                </div>
            </fieldset>
        </form>
</body>
</html>